<!-- <a href="/recipe-view/1">learn more</a> -->
<div class="homepage__container">
  <app-navigation></app-navigation>
  <main>
      <app-carousel></app-carousel>

      <div class="homepage__content">
        <app-filter class="homepage__content__filter"></app-filter>
        <div class="homepage__content__recipeAndArticles">
          <span class="homepage__content__recipeAndArticles__title">
            Recipe and Articles
          </span>
          <div class="recipes-and-articles">
            <app-card *ngFor="let recipe of recipes" [recipe]="recipe"></app-card>
          </div>
        </div>
      </div>
  </main>





</div>

