<div class="filter">
  <h2 class="filter__title">Filters</h2>

  <div class="card filter__card">
    <h3 class="filter__card__subtitle">Filter By Ingredients</h3>

    <input  type="text" class="filter__card__search-input" placeholder="Search Ingredients">
    <h3 class="filter__card__subtitle">Your Ingredients</h3>
    <ul class="filter__card__list">
      <li class="filter__card__list-item">ingredient 1</li>
      <li class="filter__card__list-item">ingredient 2</li>
      <li class="filter__card__list-item">ingredient 3</li>
      <li class="filter__card__list-item">ingredient 5</li>
    </ul>
  </div>

  <div class="card filter__card">
    <h3 class="filter__card__subtitle">Content Type</h3>
    <ul class="filter__card__list">
      <li class="filter__card__list-item">An item</li>
      <li class="filter__card__list-item">A second item</li>
      <li class="filter__card__list-item">A third item</li>
    </ul>
  </div>

  <div class="card filter__card">
    <h3 class="filter__card__subtitle">Another Type</h3>
    <ul class="filter__card__list">
      <li class="filter__card__list-item">An item</li>
      <li class="filter__card__list-item">A second item</li>
      <li class="filter__card__list-item">A third item</li>
    </ul>
  </div>

  <button class="btn-primary">Apply</button>
</div>
