<div class="card">
  <!-- TODO: Add tags to show if its a recipe or a blog post
  <div class="card__tag">
    <span class="card__tag__text">recipe</span>
  </div> -->
  <div class="card__imageContainer">
    <img class="card__image" src="{{ recipe.image }}" alt="{{ recipe.title }}" />
  </div>
  <div class="card__content">
    <h2 class="card__content__subtitle">
      {{ recipe.title | slice:0:47 }}{{ recipe.title.length > 47 ? '...' : '' }}
    </h2>
    <div class="card__content__description">
      <div [innerHTML]="(recipe.summary| slice:0:250)"></div>
      <!-- {{ recipe.summary | slice:0:250 }}{{ recipe.summary.length > 250 ? '...' : '' }} -->
    </div>
    <div class="card__content__button">
      <button class="btn-primary" routerLink="/recipe-view/{{recipe.id}}">View</button>
    </div>
  </div>
</div>
