<div class="footer">
  <img class="footer__logo" src="../../../../assets/logo.svg" alt="">
  <span class="footer__title">FOODEA</span>

  <div class="footer__content">
    <span class="footer__content__label">Creater: </span> <span class="footer__content__text">Thabo Maduna</span>
  </div>
  <div class="footer__content__images">
    <a href="https://www.linkedin.com/in/thabo-maduna/" target="_blank"><img class="footer__content__images__img" src="../../../../assets/logo-linkedin.svg" alt=""></a>
    <a href="https://github.com/MadunaThabo/" target="_blank"><img class="footer__content__images__img" src="../../../../assets/logo-github.svg" alt=""></a>
    <a href="https://www.instagram.com/thabo_tarbow/" target="_blank"><img class="footer__content__images__img" src="../../../../assets/logo-instagram.svg" alt=""></a>
    <a href="mailto:madunathabo2@gmail.com" target="_blank"><img class="footer__content__images__img" src="../../../../assets/mail-outline.svg" alt=""></a>
  </div>
</div>
